/* main{
    padding: 0px 5px;
} */
.introductive-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    line-height: 40px;
}
.paragraph{
    text-align: center;
    width: 50%;
    margin-top: 15px;
}
.subtitle{
    text-align: center;
    line-height: 15px;
    width: 100%;
    margin-top: 15px;
}
.pc-picture{
    width: 250px;
    height: 300px;
    margin-top: 15px;
}
.container-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    padding-bottom: 8%;
    max-width: 42%;
}
.box h2{
    text-align: center;
    margin-top: 35px;
}
.box p{
    text-align: center;
    margin-top: 25px;
}
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.features{
    display:flex;
    flex-wrap:flex;
    justify-content: center;
    align-items: center;
    flex-basis:40%;
    margin: 10px 10px;
    padding: 20px;
}

.text-features{
    text-align: center ;
    padding-top:2%;
    width: 100%;
}

.icon{
    display: flex;
    height: 50px;
    width: 50px;
}

