@media (max-width: 820px){
    .header-tittle{
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #373867;
    }
    .introductive-text h1{
        font-family: "Roboto", sans-serif;
        font-size: 35px;
        font-weight: bold;
        color:#373867;
    }
    .subtitle{
        font-family: "Reboto", sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #B4AFAF;
    }
    .paragraph{
        font-family: "Reboto", sans-serif;
        font-size: 14px;
        color: #373867;
    }
    .box h2{
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color:#46A37C;
    }
    .box p{
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color:#373867;
    }
    .text-features h2{
        font-family: "Reboto", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #46A37C;
    }
    .text-features p{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color:#373867;
    }
    .contact-tittle{
        font-family: "Reboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #373867;
    }
    .contact label{
        font-family: "Reboto", sans-serif;
        font-size: 14px;
        color: #373867;
    }
    .input-submit{
        background-color: #AACE9B;
        border-radius: 5px;
        border: #AACE9B solid;
        font-family: "Reboto", sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #373867;
    }
    .input-reset{
        background-color: #fff;
        border-radius: 5px;
        border: 2px #373867 solid;
        font-family: "Reboto", sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #373867;
    }
    .who-we-are h2{
        font-family: "Reboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #373867;
        padding-left: 40px;
        margin-top: 25px;
    }
    .who-we-are p{
        font-family: "Reboto", sans-serif;
        font-size: 14px;
        color: #373867;
        padding-left: 40px;
        padding-right: 20px;
        margin-top: 25px;
    }
}
@media (min-width: 820px){
    .header-tittle{
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: #373867;
    }
    .introductive-text h1{
        font-family: "Roboto", sans-serif;
        font-size: 60px;
        font-weight: bold;
        color:#373867;
    }
    .subtitle{
        font-family: "Reboto", sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #B4AFAF;
    }
    .paragraph{
        font-family: "Reboto", sans-serif;
        font-size: 20px;
        color: #373867;
    }
    .box h2{
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color:#46A37C;
    }
    .box p{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color:#373867;
    }
    .text-features h2{
        font-family: "Reboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #46A37C;
    }
    .text-features p{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color:#373867;
    }
    .contact-tittle{
        font-family: "Reboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #373867;
    }
    .contact label{
        font-family: "Reboto", sans-serif;
        font-size: 14px;
        color: #373867;
    }
    .input-submit{
        background-color: #AACE9B;
        border-radius: 5px;
        border: #AACE9B solid;
        font-family: "Reboto", sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #373867;
    }
    .input-reset{
        background-color: #fff;
        border-radius: 5px;
        border: 2px #373867 solid;
        font-family: "Reboto", sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #373867;
    }
    .who-we-are h2{
        font-family: "Reboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #373867;
        padding-left: 40px;
        margin-top: 25px;
    }
    .who-we-are p{
        font-family: "Reboto", sans-serif;
        font-size: 18px;
        color: #373867;
        padding-left: 40px;
        padding-right: 20px;
        margin-top: 25px;
    }
    .container-hamburguer{
        display: none;
    }    
}
